@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #2d2c3e;
}

.container{
    padding: 20px 20px 30px 20px;
    width: 340px;
    background: #1e1b2e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

.container .app-title{ 
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 7px;
}

.container .time-options{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.container .time-options button{
    all: unset;
    height: 40px;
    width: 85px;
    color: #fff;
    background: #422f66;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    float: left;
    margin-left: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.container.time-options button.active{
    background: #7d59c1;
}

.container .progress-bar{
    height: 220px;
    width: 220px;
    background-color: conic-gradient(#664efe 360deg, #422f66 0deg); /*conic-gradient(#664efe 360deg, #422f66 0deg)*/
    border-radius: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 3s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(0.97);
    }50%{
        transform: scale(1);
    }100%{
        transform: scale(0.97);
    }
}

.container .progress-bar .progress-bar-inner{
    height: 200px;
    width: 200px;
    background: #1e1b2e;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 35px;
}

.container .control-buttons{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.container .control-buttons button{
    all: unset;
    height: 40px;
    width: 85px;
    background: #7d59c1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 12px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.container .control-buttons .reset-btn{
    position: absolute;
    right: 30px;
}

.container .control-buttons .stop-btn{
    display: none;
}