*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  min-width: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
